RewriteEngine On 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{HTTP_HOST} ^(.*)\.mathcodingclub\.com$
RewriteCond %{REQUEST_URI} ^(.*)rest(.*)$
RewriteRule ^(.*)$ %{DOCUMENT_ROOT}/%1/rest/index.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{HTTP_HOST} ^localhost$ [NC]
RewriteRule ^(.*)$ %{ENV:BASE}index.php [QSA,L]


